<div class="timer-intervals--back" (click)="backToList.emit()">
    <!-- <span>{{ 'app.actions.back' | translate }}</span> -->
</div>

<div class="timer-intervals">
    <div class="timer-intervals--header">
        <h1>{{ timer.title }}</h1>
        <span>{{ timer.intervals.length }}</span>
        <!-- Total duration -->
        <span>{{ timer.intervals.length }}</span>
    </div>

    <div *ngFor="let item of timer.intervals">
        <div>{{ item.title }}</div>
        <div>{{ item.time }}</div>
    </div>
</div>