<div class="sign-up">
    <!-- Title -->
    <div class="sign-up-title">
        <h1>{{ 'sign_up.title' | translate }}</h1>
    </div>

    <!-- Sign up form -->
    <form [formGroup]="form" (ngSubmit)="signUp()">
        <input formControlName="email" type="text" [placeholder]="'app.forms.email' | translate">
        
        <div class="sign-up--password">
            <input formControlName="password" [type]="showPw ? 'text' : 'password'" [placeholder]="'app.forms.password' | translate">
            <!-- Icon for show/hide password; TODO: Add icon (icon set) -->
            <div (click)="showPw = !showPw">{{ showPw }}</div>
        </div>

        <input formControlName="password_confirm" type="password" [placeholder]="'app.forms.password_confirm' | translate">
        <button type="submit">
            <span>{{ 'sign_up.title' | translate }}</span>
        </button>
    </form>

    <!-- Back to login -->
    <a [routerLink]="['/login']">{{ 'app.actions.back' | translate }}</a>
</div>