@import 'breakpoints.scss';

.login {
    display: flex;
    flex-direction: row;
    height: 100%; 
    width: 100%;

    &-container {
        &--left {
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;

            &--content {
                max-width: 400px; 
                width: 100%;
                text-align: center;
            }

            @include respond-below(small) {
                width: 100%;
            }
        }

        &--right {
            width: 45%;
            background: url(/assets/images/login.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; 

            @include respond-below(small) {
                display: none;
            }
        }
    }

    &--form {
        // TODO: Global styling
        &-email--password {
            display: flex;
            align-items: center;

            &--field {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                margin: 15px 0;

                .material-icons {
                    font-size: 14px;
                }
            }

            &--info {
                background: var(--primary);
                padding: 9px 9px;
                display: flex;
                border-radius: 8px;
                margin-left: 5px;

                .material-icons {
                    font-size: 16px;
                    color: var(--white); 
                }
            }

            .icon {
                position: absolute;
                right: 10px;
                display: flex;

                .material-icons {
                    font-size: 20px;
                    color: var(--primary);
                }
            }

            &-confirm {
                margin-bottom: 15px;
            }
        }
    }

    &--divider { 
        overflow: visible;
        padding: 0;
        margin: 40px 0 30px;
        border: none;
        border-top: 1px solid #e0e0e0;
        color: #6e6d7a;
        text-align: center;

        &::after {
            content: attr(data-after-content);
            display: inline-block;
            position: relative;
            top: -14px;
            padding: 0 16px;
            background: #fff;
        } 
    }

    // TODO:; Global styling
    &--checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        
        label {
            margin-left: 5px;
            font-size: 12px;
        }
    }

    &--more-options {
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
        margin-bottom: 15px;
    }
}