<div class="login">
    <!-- Left container -->
    <div class="login-container--left">
        <div class="login-container--left--content">

            <!-- Headline -->
            <h1>
                <ng-container *ngIf="view === viewType.Login">{{ 'login.to' | translate }} {{ 'app.title' | translate }}</ng-container>
                <ng-container *ngIf="view === viewType.ForgotPw">{{ 'login.forgot_pw' | translate }}</ng-container>
                <ng-container *ngIf="view === viewType.SignUp">{{ 'sign_up.title' | translate }}</ng-container>
            </h1>

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                
                <!-- Email input -->
                <input formControlName="email" type="text" [placeholder]="'app.forms.email' | translate">
                
                <!-- Password input for login / sign up -->
                <div *ngIf="view === viewType.Login || view === viewType.SignUp" class="login--form-email--password">
                    <div class="login--form-email--password--field">
                        <input formControlName="password" [type]="showPw ? 'text' : 'password'" [placeholder]="'app.forms.password' | translate">
                        <div class="icon" (click)="showPw = !showPw">
                            <span class="material-icons">
                                {{ showPw ? 'visibility_off' : 'visibility'}}
                            </span>
                        </div>
                    </div>

                    <!-- Forgot password / password restriction -->
                    <!-- TODO: Add tooltip -->
                    <!-- TODO: ngIf & click for forgot & restrictions-->
                    <div *ngIf="view === viewType.Login" class="login--form-email--password--info" (click)="view = viewType.ForgotPw; resetSubmitted()">
                        <span class="material-icons">
                            help_outline
                        </span>
                    </div>
                </div>
        
                <!-- Confirm password input for sign up -->
                <ng-container *ngIf="view === viewType.SignUp">
                    <input formControlName="password_confirm" type="password" [placeholder]="'app.forms.password_confirm' | translate" class="login--form-email--password-confirm" >
                    <div class="login--checkbox">
                        <input formControlName="terms_conditions" type="checkbox" id="terms" name="terms">
                        <label for="terms">{{ 'sign_up.terms_conditions' | translate }}</label>
                    </div>
                </ng-container>

                <!-- Submit button -->
                <button type="submit" class="primary">
                    <span *ngIf="view === viewType.Login">{{ 'login.title' | translate }}</span>
                    <span *ngIf="view === viewType.ForgotPw">{{ 'app.actions.submit' | translate }}</span>
                    <span *ngIf="view === viewType.SignUp">{{ 'sign_up.title' | translate }}</span>
                </button>

                <!-- Already have an account - go back to login  -->
                <span *ngIf="view === viewType.SignUp" class="login--more-options" (click)="changeForm(viewType.Login)">
                    {{ 'sign_up.already_account' | translate }}
                </span>

            </form>
            
            <!-- Login via Google or sign up -->
            <div [hidden]="view !== viewType.Login">
                <!-- Divider -->
                <hr class="login--divider" [attr.data-after-content]="'login.or' | translate">

                <!-- Via Google -->
                <div class="login--google">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
                    <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-ux_mode="redirect"></div> -->
                </div>

                <!-- Sign up -->
                <div class="login--more-options">
                    <span (click)="changeForm(viewType.SignUp)">
                        {{ 'sign_up.no_account' | translate }} {{ 'sign_up.title' | translate }}
                    </span>
                </div>
            </div>

            <!-- Back to login -->
            <div *ngIf="view === viewType.ForgotPw" class="login--more-options" (click)="changeForm(viewType.Login); resetSubmitted()">
                {{ 'login.back' | translate }}
            </div>
        </div>
    </div>

    <!-- Right container -->
    <div class="login-container--right"></div>
</div>