<div class="login">
    <!-- Left container -->
    <div class="login-container--left">
        <div class="login-container--left--content" [ngSwitch]="view">

            <!-- View: Login -->
            <ng-container *ngSwitchDefault>
                <h1>{{ 'login.to' | translate }} {{ 'app.title' | translate }}</h1>

                <!-- Login form -->
                <div class="login--form">

                    <!-- Via email -->        
                    <form [formGroup]="loginForm" (ngSubmit)="emailLogin()">
                        <input formControlName="email" type="text" [placeholder]="'app.forms.email' | translate">
                        
                        <div class="login--form-email--password">
                            <input formControlName="password" [type]="showPw ? 'text' : 'password'" [placeholder]="'app.forms.password' | translate">
                            <div class="icon" (click)="showPw = !showPw">
                                <span class="material-icons">
                                    {{ showPw ? 'visibility_off' : 'visibility'}}
                                </span>
                            </div>
                        </div>
        
                        <button type="submit" class="primary">
                            <span>{{ 'login.title' | translate }}</span>
                        </button>

                        <!-- <span class="login--more-options" (click)="view = viewType.ForgotPw; resetSubmitted()">
                            {{ 'login.forgot_pw' | translate }}
                        </span> -->
                    </form>

                    <!-- Divider -->
                    <hr class="login--divider" [attr.data-after-content]="'login.or' | translate">

                    <!-- Via Google -->
                    <button (click)="googleLogin()">
                        <span>{{ 'login.via_google' | translate }}</span>
                    </button>
                </div>

                <!-- Sign up -->
                <span class="login--more-options" (click)="view = viewType.SignUp">
                    {{ 'sign_up.no_account' | translate }} {{ 'sign_up.title' | translate }}
                </span>
            </ng-container>

            <!-- View: Forgot password -->
            <ngContainer *ngSwitchCase="viewType.ForgotPw">
                <div class="login--form">
                    <h1>{{ 'login.forgot_pw' | translate }}</h1>

                    <div class="login--forgot-pw">
                        <div class="login--via-email--back" (click)="view = viewType.Login; resetSubmitted()">
                            {{ 'app.actions.back' | translate }}
                        </div>
                    </div>
                    
                    <!-- Forgot password form -->
                    <form [formGroup]="forgotPwForm" (ngSubmit)="forgotPw()">
                        <input formControlName="email" type="text" [placeholder]="'app.forms.email' | translate">
                        <button type="submit" class="primary">
                            <span>{{ 'app.actions.submit' | translate }}</span>
                        </button>
                    </form>
                </div>
            </ngContainer>

            <!-- View: Sign up -->
            <ng-container *ngSwitchCase="viewType.SignUp">
                <div class="login--form">
                    <!-- Title -->
                    <h1>{{ 'sign_up.title' | translate }}</h1>
                
                    <!-- Sign up form -->
                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                        <input formControlName="email" type="text" [placeholder]="'app.forms.email' | translate">
                        
                        <div class="login--form-email--password">
                            <input formControlName="password" [type]="showPw ? 'text' : 'password'" [placeholder]="'app.forms.password' | translate">
                            <div class="icon" (click)="showPw = !showPw">
                                <span class="material-icons">
                                    {{ showPw ? 'visibility_off' : 'visibility'}}
                                </span>
                            </div>
                        </div>
                
                        <input class="login--form-email--password-confirm" formControlName="password_confirm" type="password" [placeholder]="'app.forms.password_confirm' | translate">
                        
                        <input type="checkbox" formControlName="terms_conditions">

                        <button type="submit" class="primary">
                            <span>{{ 'sign_up.title' | translate }}</span>
                        </button>
                    </form>
                
                    <!-- Back to login -->
                    <span class="login--more-options" (click)="view = viewType.Login">{{ 'sign_up.already_account' | translate }}</span>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Right container -->
    <div class="login-container--right"></div>
</div>