<!-- TODO: Add drag and drop via angular cdk -->
<div *ngIf="!selectedTimer" cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of list; let idx = index" class="timer-list" cdkDrag>
        <div class="timer-list--item" (click)="selectedTimer = item">
            <span>{{ item.title }}</span>
            <div class="timer-list--item-number">
                <span>{{ item.intervals.length }}</span>
                <!-- TODO: Add watch/timer icon -->
            </div>
            <span>{{ 'timer.total' | translate }}: {{ item.total }}</span>

            <!-- Delete item -->
            <div (click)="deleteTimer(idx, item.id)"></div>

            <!-- TODO rename item -->
        </div>
    </div>
</div>

<app-timer-intervals *ngIf="selectedTimer" [timer]="selectedTimer" (backToList)="selectedTimer = null"></app-timer-intervals>